#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Install Resilio4SteamDeck
Exec=curl https://raw.githubusercontent.com/J000K3R/Resilio4SteamDeck/refs/heads/main/Install.sh | bash -s --
Icon=btsync-gui
Terminal=true
Type=Application
StartupNotify=false
